<div class="p-3 one_client bg-light" style="position: relative; margin-top: 2px;" data-id="{{client_id}}">
	<div class="custom-control custom-checkbox">
		<input type="checkbox" class="custom-control-input" id="customCheck{{client_id}}" checked>
		<label class="{{class}} custom-control-label" for="customCheck{{client_id}}">{{client_name}}</label>
	</div>
	<a style="opacity: 0.5; position: absolute; top: 16px; right: 20px;" href="{{url}}client/{{client_id}}" target="_blank"><i class="fas fa-external-link-square-alt"></i></a>
	<div class="error_msg hide">error message placeholder</div>
</div>