<tr style="cursor:pointer;" data-href="{{url}}conn/{{id}}">
	<td class="{{class}}">{{subm_end}}</td>
	<td data-toggle="tooltip" data-placement="right" data-title="{{cname}}" style="overflow: hidden; text-overflow: ellipsis; max-width: 200px;" class="{{class}}">{{cname}}</td>
	<td data-toggle="tooltip" data-placement="right" data-title="{{tname}}" style="overflow: hidden; text-overflow: ellipsis; max-width: 200px;" class="{{class}}">{{tname}}</td>
	<td class="{{class}}">{{submitted_amount}}</td>
	<td class="{{class}}">{{eval_end}}</td>
	<td class="{{class}}">{{state}}</td>
	<td><i class="fas fa-angle-double-right"></i></td>
</tr>