<tr style="cursor: default;" class="trans">
	<td class="{{client_class}}">{{subm_end}}</td>
	<td data-toggle="tooltip" data-placement="right" data-title="{{cname}}" style="overflow: hidden; text-overflow: ellipsis; max-width: 200px;" class="{{client_class}}">{{cname}}</td>
	<td data-toggle="tooltip" data-placement="right" data-title="{{tname}}" style="overflow: hidden; text-overflow: ellipsis; max-width: 400px;" class="{{client_class}}">{{tname}}</td>
	<td>
		<a class="eval_search btn btn-sm btn-{{btnmode}}" href="#" data-cid="{{cid}}" data-tid="{{tid}}"  data-toggle="tooltip" data-placement="top" data-title="Kiértékelés">
			{{percent}}<i class="fas fa-dna"></i>
		</a>
		<a class="do_not_write_btn {{hide_delbtn}} btn btn-sm btn-danger" data-cid="{{cid}}" data-tid="{{tid}}" href="#" data-toggle="tooltip" data-placement="top" data-title="Nem írom meg a pályázatot">
			<i class="fas fa-times"></i>
		</a>
	</td>
</tr>