<tr style="cursor: default;" class="trans">
	<td class="{{client_class}}">{{subm_end}}</td>
	<td data-toggle="tooltip" data-placement="right" data-title="{{cname}}" style="overflow: hidden; text-overflow: ellipsis; max-width: 200px;" class="{{client_class}}">{{cname}}</td>
	<td data-toggle="tooltip" data-placement="right" data-title="{{tname}}" style="overflow: hidden; text-overflow: ellipsis; max-width: 400px;" class="{{client_class}}">{{tname}}</td>
	<td>{{state}}</td>
	<td>
		<a class="eval_search btn btn-sm bg-{{bg}}" style="color: {{color}};" href="#" data-cid="{{cid}}" data-tid="{{tid}}"  data-toggle="tooltip" data-placement="top" data-title="Kiértékelés">
			{{percent}}% <i class="fas fa-dna"></i>
		</a>
	</td>
</tr>