<tr class="cursor_pointer" data-href="{{url}}tender/{{id}}">
	<td>{{subm_end}}</td>
	<td>{{o_id}}</td>
	<td data-toggle="tooltip" data-placement="right" data-title="{{name}}" style="overflow: hidden; text-overflow: ellipsis; max-width: 200px;">{{name}}</td>
	<td>{{supported_regions}}</td>
	<td>{{amount}}</td>
	<td>
		<span class="alert_circle {{hide_ok_alert}}" data-toggle="tooltip" data-placement="top" data-title="A pályázati adatlap nincs teljesen kitöltve!">!</span>
		<span class="alert_circle orange {{hide_change_alert}}" data-html="true" data-toggle="tooltip" data-placement="top" data-title="Úgy tűnik változott a pályázat, ellenőrizd!">?</span>
	</td>
	<td><i class="fas fa-angle-double-right"></i></td>
</tr>