<div style="-webkit-border-radius: 4px; border-radius: 4px; background-color: rgba(0,0,0,0.1); padding: 10px; width: 100%; max-width: 500px;">
	<form style="margin: 0; padding: 0;" action="{{url}}function/public/subscribe" method="post">
		{{fields}}
		<input style="font-weight: bold; cursor: pointer; width: 100%; padding: 8px 0; background-color: rgba(0,0,0,0.2); border-width: 0; -webkit-border-radius: 4px; border-radius: 4px;" type="submit" value="{{l_subscribe}}" />
		<input type="hidden" name="list_id" value="{{list_id}}" />
	</form>
</div>